/* 
@author Jonathan Nogueira
@date 02-05-2014
*/

/**********
  GLOBAL
**********/

body {
	background-image: url(../assets/boston-city-dusk-1200.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	min-height: 2000px;
  	padding-top: 70px;

}

h1, 
h3, 
h4, 
h5, 
h6 {
	background-color: #24A5AA;
}
h2{
	text-align: center;
}
.title{

	text-align: center;
	text-shadow: 2px 4px #999;
}

.thumbnail{
/*	transform:rotate(7deg);
	-ms-transform:rotate(7deg);  IE 9 
	-webkit-transform:rotate(7deg); /* Safari and Chrome */
}

div#nav-container{
	padding-right: 2%;
	padding-left: 2%;
}
img#profile{
		height: 250px;
		width: 350px;
	}
div#img-div{
	display: inline-block;
	padding-left: 2.5%;
}
div#personal-info{
	display: inline-block;
	padding-left: 20%;
	vertical-align: middle;
}

.pdf-resume{
	margin-left: 175px;
	margin-right: 175px;
	width: 840px;
	height: 1067px;

}

table.resume-table {
/*	margin-left: 50px;
	margin-right: 50px;*/
	max-width: 60%;
}

table.resume-table th {
	padding-bottom: 10px;
}

td.resume-data > p{
	font-size: 15px;
	margin-left: 15px;
	max-width: 90%;
}

td.resume-data p+p{
	margin-left: 40px;
}

td.resume-data > span.left{
	float: left;
	width: 50%;
	text-align: left;
}	
.table p{
	font-size: 15px;
	margin-top: 2%;
}
span.left > span.right{
	float: right;
	width: 50%;
	text-align: right;
}

td#computer-sk p:first-of-type {
	padding-bottom: 0px;
	font-style: italic;
}

.experience > *{
	padding-bottom: 10px;
}

/*#experience > *{
	padding-bottom: 10px;
}*/
ul.resume-ul-2 {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
		
}

ul.resume-ul-1{
	columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;	
}

ul.resume-ul-2, ul.resume-ul-1 > li{
	list-style-position: inside;
	padding-left: 10px;
	padding-right: 10px;
}

div#resume-container.container{
	max-width: 80%;
}

div#nav-container.container {
	background-color: #eee;
	border-radius: 6px;
	float: left;
	max-width: 15%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-top: 2.5%;
	width: auto;
	position: fixed;
}

div#connections{
	margin-top: 2.5%;
	margin-right: 2.5%;
	float: right;
}

div#nav-container.container a{
	color: #333;
	background-color: #eee;
}

.navbar-header{
	font-family: Montserrat Subrayada;
}

.navbar-inverse .navbar-brand{
	color: #24A5AA;
}

div.xhtml{
	text-align: center;
}

@font-face {
  font-family: 'Headland One';
  font-style: normal;
  font-weight: 400;
  src: local('Headland One'), local('HeadlandOne-Regular'), url(../fonts/Headland_One.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat Subrayada';
  font-style: normal;
  font-weight: 400;
  src: local('MontserratSubrayada-Regular'), url(../fonts/Montserrat_Subrayada.woff) format('woff');
}

@media (max-width: 767px) {
	

}

@media (min-width: 767px) {

}